/* body {
  cursor:url(https://cdn.jsdelivr.net/gh/sviptzk/HexoStaticFile@latest/Hexo/img/default.cur),
        default;
}
a,
img {
  cursor:url(https://cdn.jsdelivr.net/gh/sviptzk/HexoStaticFile@latest/Hexo/img/pointer.cur),
        default;
} */

/* 全局默认鼠标指针 */
body,
html {
	cursor: url('./mouse/working.cur'),auto !important;
}
/* 评论框的鼠标指针 */
.timeline:hover {
	cursor: url('./mouse/working.cur'),auto !important;
}
/* banner图片的鼠标指针 */
.full-bg-img:hover {
    cursor: url('./mouse/person.cur'), auto !important;
}
/* 悬停图片时的鼠标指针 */
img { 
	/* cursor: url('./mouse/vertical.cur'), auto !important; */
	cursor: url('./mouse/working.cur'), auto !important;
}
/* 悬停图片弹出窗口时的鼠标指针 */
.fancybox__slide{
	cursor: url('./mouse/unavailable.cur'), auto !important;
}
.carousel__slide{
	cursor: url('./mouse/text.cur'), auto !important;
}
/* 选择链接标签时的鼠标指针 */
a:hover,#site-name:hover {
    cursor: url('./mouse/precision.cur'), auto !important;
}
/* 选择代码框展开和复制按钮时的鼠标指针 */
.copy-button:hover,.expand:hover {
    cursor: url('./mouse/pin.cur'), auto !important;
}
/* 选中输入框时的鼠标指针 */
input:hover, textarea:hover {
    cursor: url('./mouse/person.cur'), auto;
}
/* 悬停按钮时的鼠标指针 */
button:hover,.scroll-down-effects:hover {
    cursor: url('./mouse/normal.cur'), auto;
}
/* 悬停页脚链接标签（例如页脚徽标）时的鼠标指针 */
#footer-wrap a:hover {
    cursor: url('./mouse/move.cur'), auto;
}
/* 悬停页码时的鼠标指针 */
#pagination .page-number:hover {
    cursor: url('./mouse/link.cur'), auto;
}
/* 悬停菜单栏时的鼠标指针 */
#nav .site-page:hover {
    cursor: url('./mouse/horizontal.cur'), auto !important;
}
/* 悬停滚动条的鼠标指针（只对Chrome有效） */
::-webkit-scrollbar:hover{
	cursor: url('./mouse/help.cur'), auto!important;
}
/* 悬停评论按钮的鼠标指针（我使用的是Gitalk/Valine） */
iframe {
    cursor: url('./mouse/handwriting.cur'), auto !important;
}
.switch-btn,.switch-btn:before,.gt-user-inner,.gt-ico,.gt-user-name,.gt-btn,.vbtn,svg,.at_button{
	cursor: url('./mouse/handwriting.cur'), auto !important;
}

/* 悬停非链接文本时的鼠标指针 */
h1,h2,h3,h4,h5,h6,#subtitle,.content,.line,.post-content p,.post-content li{
	cursor: url('./mouse/busy.cur'), auto;
}
/* 悬停文章日期 */
.post-meta-date:hover,.post-meta-date-created:hover{
	cursor: url('./mouse/alternate.cur'), auto!important;
}